.about-page {
    display: flex;
    gap: 20px;
}

.about-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 500px;
    max-width: 100%;
}

.about-image {
    max-width: 350px;
    margin: auto;
}