.about-page {
    display: flex;
    gap: 20px;

    @media (max-width: 800px) {
        flex-direction: column-reverse;
        align-items: center;
        gap: 40px;
    }
}

.about-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 500px;
}

.about-image {
    max-width: 350px;
    margin: auto;
}