.page-editor-header {
    width: 100%;
    padding: 10px 20px;
    background-color: var(--light-grey);
    cursor: pointer;
    box-sizing: border-box;
  
    display: flex;
    align-items: center;

    .title {
        text-transform: capitalize;
        padding-left: 10px;
    }

    .dropdown-icon {
        transition: 0.3s;
        display: flex;
        align-items: center;
        &.open {
            transform: rotate(90deg);
        }
    }
}

.pages-editor {
    padding: 10px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    width: 100%;
    overflow-x: scroll;
    border-left: 1px solid var(--light-grey);
    border-right: 1px solid var(--light-grey);
    border-bottom: 1px solid var(--light-grey);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-bottom: 20px;

    @media (max-width: 900px) {
        grid-template-columns: 1fr 1fr;
    }

    @media (max-width: 650px) {
        grid-template-columns: 1fr;
    }

    &.hide {
        height: 0px;
        opacity: 0;
        padding: 0;
        border: none;
    }

    .page {
        display: flex;
        align-items: center;
        gap: 40px;
        cursor: pointer;
        &.selected {
            background-color: var(--light-grey);
            border: 1px solid var(--grey);
        }

        button {
            margin-left: auto;
        }
    }
}

.add-new-page {
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 100%;

    input {
        border: none;
    }

    button {
        white-space: nowrap;
        margin-left: auto;
    }
}