.admin-section {
    box-shadow: 0 0 6px var(--darker-shadow);
    align-items: center;
    justify-content: space-between;
    background-color: var(--light-grey);
    left: 0;
    position: sticky;
    padding: 0 20px;    
    display: flex;
    color: var(--dark-grey);
    gap: 10px;
}

.top-bar {
    top: 0;
    height: 70px;
    z-index: 40;

    .admin-btn {
        margin-left: auto;
    }

    @media screen and (max-width: 650px) {
        .btn-text {
            display: none;
        }
        .admin-btn {
            margin-left: 0;
        }
    }
}

.side-bar {
    top: 0;
    height: 100vh;
    width: 100px;
    z-index: 38;
}

.user-email {
    margin-left: auto;
}